.create-event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  textarea,
  input[type="date"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1.2rem;
  }
  
  textarea {
    height: 10rem;
    width: 40rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #005299;
  }
  select {
    font-size: 1.2rem;
    height: 2.5rem;
  }