@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f8f7ee;
  --primary-color: #1270b0;
  --secondary-color: #0d286e;

  --gray-color: #767676;
  --color-red: #e63946;

  font-size: 10px;
}

* {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Anuphan', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* body { */
/* margin: 0; */
/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
/* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
/* } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  @apply rounded;
}

.button {
  border: none;
  color: #ffffff;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--secondary-color);
}
